.main{
  padding-left:8%;
  padding-top: 4%;
}
.title-text{
  font-family:'inter';
  letter-spacing :20px;
  font-size:100px;
}
.subtitle{
  padding-top: 18%;
}
.subtitle-text{
  font-family: 'katibeh';
  font-size: 30px;
  padding-bottom: 6%;
  letter-spacing:12px
}
.chatroom-title-text{
  font-family: 'inter';
  letter-spacing: 10px;
  font-size: 50px;
}

.chatroom-text{
  font-family: 'inter';
  margin-top: 10px;
  margin-left: 2px;
  font-size: 20px;
}
.user-name-text{
  margin-top: 20px;
  margin-bottom: auto;
  font-family: 'inter';
  font-size: 30px;
  font-weight: bold;
}
.left-side{
  text-align: left;
}
.test{
  position: fixed;
  right: 10%;
  bottom: 10%;
  scale: 1.2;
}